@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #AFA98D;
  }

  .title {
    font-size: 24px;
    /* padding-left: 50px; */
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  nav a {
    color: #AFA98D;
    text-decoration: none;
    font-size: 16px;
    
  }

 